<div class="nav">
<!--  <div class="account">-->
<!--    <p>username</p>-->
<!--    <button>Log Out</button>-->
<!--  </div>-->
  <button (click)="onNewContact()">New Contact</button>
  <input [ngModel]="searchText" (ngModelChange)="filterList($event)" placeholder="Search">
</div>

<div class="contact-list">
  <app-contact
    *ngFor="let contactData of displayList"
    [contact]="contactData"
    (onDelete)="onContactDelete($event)"
    (onSave)="onContactUpdate($event)"
  ></app-contact>
</div>
