<!--ensures we can render our components successfully-->
<!--<div class="main">-->
  <app-login
    *ngIf="isLoggedIn === false"
    (onLogin)="onLogin($event)"
  ></app-login>

  <div *ngIf="isLoggedIn === true">
    <app-contact-list
      *ngIf="isCreating === false"
      [list]="contactList"
      (newContact)="newContact()"
      (onDelete)="deleteContact($event)"
      (onUpdate)="updateContact($event)"
    ></app-contact-list>

    <app-contact-input
      *ngIf="isCreating === true"
      (onCancel)="cancelCreate()"
      (onSubmit)="submitCreate($event)"
    ></app-contact-input>
  </div>
<!--</div>-->

